/* Style the header elemment */
header {
    background: url(images/central_park.jpg) 0 -200px no-repeat; /* place image as background */
    background-size: 1500px;
    height: 400px; /* give header some height to display the background image */
    /* background-position: 0 -200px;  added on background selector */
    /*background-repeat:no-repeat;  added on background selector*/
    padding-top: 100px;
    padding-left: 100px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px; 
    color: #fff;
}
nav{
    background-color: rgb(255, 245, 238);
    height: 50px;
    text-align: center ;
    padding-top: 2px;
}
li {
    list-style-type: none;
    display:inline;
    padding: 0 20px;
}
li a {
    text-decoration: none; 
}
/* Pseudo Class - to style text links */
li a:link { /* before click */
    color: #000;
}
li a:visited { /* after click */
        color:#818db3;
}
li a:hover { /* mouse over */
    color:#333;
}
li a:active { /* mouse down */
    color:#753a30;
}
main {
    margin: 50px;
}
main h1 {
    color: rgb(129,141,179);
    font-family:Arial, Helvetica, sans-serif;
    }
footer {
    height: 40px;
    background-color: rgb(129,141,179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211,218,240);
}
/* Page 2 */
table {
    margin-top: 35px;
}
table, caption, th, td {
    border: 1px solid #000
}
th, td {
    width: 150px;
    height:35px;
    text-align: center;
}
caption {
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding-top: 15px;
    color:#753a30;
}

/* Page 3 */
label {
    display: block;
    margin: 15px 0 0 0;
}
textarea {
    width: 300px;
}
input [type="radio"] { /* { attribute selector */
    width: 25px
}
input [type="submit"], input [type="reset"] {
    margin: 20px 0 10px 0;
    width: 100px;
}
textarea {
    display: block;
}